@page "/RPrioridades"
@page "/RPrioridades/{PrioridadId:int}"
@inject PrioridadesBLL prioridadesBLL
@rendermode InteractiveServer

<PageTitle>Registro de Prioridades</PageTitle>

<EditForm Model="prioridades" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <div class="card">
        <div class="card-header">
            <h1>Registro de Prioridades</h1>
        </div>
        <div class="card-body">
            <label>ID:</label>
            <div class="input-group">
                <InputNumber min="0" @bind-Value="prioridades.PrioridadId" class="id-input"></InputNumber>
                <button type="button" class="btn btn-primary bi bi-search" @onclick="Buscar"></button>
            </div>
            <div>
                <label>Descripci&oacute;n:</label>
                <InputText @bind-Value="prioridades.Descripción" class="form-control"></InputText>
                <ValidationMessage For="@(() => prioridades.Descripción)" />
                @if (Haydescripción)
                {
                    <p class="text-danger">Ya existe una Prioridad con esta descripción.</p>
                }
            </div>
            <div>
                <label>Dias De Compromiso:</label>
                <InputNumber @bind-Value="prioridades.DiasCompromiso" class="form-control"></InputNumber>
                <ValidationMessage For="@(() => prioridades.DiasCompromiso)" />
            </div>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-primary" @onclick="Nuevo">Nuevo <i class="bi bi-file-earmark-diff-fill" /></button>
            <button type="submit" class="btn btn-success">Guardar <i class="bi bi-floppy-fill" /></button>
            <button type="button" class="btn btn-danger" @onclick="Eliminar">Eliminar <i class="bi bi-trash-fill" /></button>
        </div>
    </div>

    <p>@Notification</p>
</EditForm>
@code {
    [Parameter]
    public int PrioridadId { get; set; }
    public Prioridades prioridades { get; set; } = new Prioridades();
    private bool Haydescripción = false;

    public string Notification { get; set; } = string.Empty;

    protected override void OnInitialized()
    {
        if(PrioridadId > 0)
        {
            this.prioridades.PrioridadId = PrioridadId;
            this.Buscar();
        }
    }
    public void Buscar()
    {
        var prioridadEncontrada = prioridadesBLL.Buscar(prioridades.PrioridadId);

        if (prioridadEncontrada != null)
        {
            this.prioridades = prioridadEncontrada;
        }
    }
    public bool Validar()
    {
        Haydescripción = (prioridadesBLL.Listar(t => t.Descripción!.ToLower() == prioridades.Descripción!.ToLower()
        && t.PrioridadId != prioridades.PrioridadId).Any());

        return Haydescripción;
    }
    public void Nuevo()
    {
        prioridades = new Prioridades();
        Notification = string.Empty;
        
    }
    public void Guardar()
    {
        if (Validar())
        {
            return;
        }
        if (prioridadesBLL.Guardar(this.prioridades))
        {
            Nuevo();
            Notification = "Se Guardo los datos correctamente";
        }
    }
    public void Eliminar()
    {
        if (prioridadesBLL.Eliminar(this.prioridades))
        {
            Nuevo();
            Notification = "Se Eliminaron los datos correctamente";
        }
    }
}
